# /etc/systemd/system/zookeeper.service
#
# Start/status/stop
#   sudo systemctl start zookeeper.service
#   sudo systemctl status zookeeper.service
#   sudo systemctl stop zookeeper.service
#
# Start when computer boots:
#   sudo systemctl enable zookeeper.service
#
# When running, it should listen on localhost:{{ zookeeper_port }}
#   netstat -an | fgrep {{ zookeeper_port }}
#

[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME={{ kafka_java_home }}
Environment=PATH={{ kafka_java_home }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart={{ kafka_install_dir }}/bin/zookeeper-server-start.sh {{ kafka_install_dir }}/config/zookeeper.properties
ExecStop={{ kafka_install_dir }}/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target
