#!/bin/bash

# Phoebus launcher for Linux or Mac OS X
TOP=/opt/epics-tools

export JAVA_HOME={{ cs_studio_phoebus_java_home }}
export PATH="$JAVA_HOME/bin:$PATH"

# Reduce VIRT memory
export MALLOC_ARENA_MAX=4

STANDALONE=no

# Passing arguments
while getopts hsr:p: opt; do
  case $opt in
     s) STANDALONE=yes;;
     r) CS_STUDIO_VERSION="$OPTARG";;
     p) PHOEBUS_CONFIG="$OPTARG";;
  esac
done

# figure out the path to the product jar
if [[ -z "${PHOEBUS_JAR}" ]]; then
  PHOEBUS_JAR={{ cs_studio_phoebus_jar }}
fi

# figure out the path to the configuration settings
if [[ -z "${PHOEBUS_CONFIG}" ]]; then
  PHOEBUS_CONFIG={{ cs_studio_phoebus_pref }}
fi

# figure out the path to the configuration settings
if [[ -z "${PHOEBUS_LOGGING}" ]]; then
  PHOEBUS_LOGGING={{ cs_studio_phoebus_logging }}
fi

# To get one instance, use server mode

if [ "$STANDALONE" = "no" ]; then
  ID=$(id -u)
  if [[ $ID -ge 10000 ]]
  then
    OPT="-server ${ID:0:5}"
  else
    OPT="-server 4$ID"
  fi
fi

JDK_JAVA_OPTIONS=" -DCA_DISABLE_REPEATER=true"
JDK_JAVA_OPTIONS="$JDK_JAVA_OPTIONS -Dnashorn.args=--no-deprecation-warning"
JDK_JAVA_OPTIONS="$JDK_JAVA_OPTIONS -Djdk.gtk.verbose=false -Djdk.gtk.version=2 -Dprism.forceGPU={{ cs_studio_phoebus_force_gpu }}"
JDK_JAVA_OPTIONS="$JDK_JAVA_OPTIONS -Dlogback.configurationFile={{ cs_studio_phoebus_logback }}"
JDK_JAVA_OPTIONS="$JDK_JAVA_OPTIONS -Dorg.csstudio.javafx.rtplot.update_counter=false"
export JDK_JAVA_OPTIONS

echo $JDK_JAVA_OPTIONS

java -jar ${PHOEBUS_JAR} -settings ${PHOEBUS_CONFIG} -logging ${PHOEBUS_LOGGING} $OPT "$@" &
