# File /etc/systemd/system/{{beamline_name}}_phoebus_alarm_logger.service
#
# After changes
#   sudo systemctl daemon-reload
#
# Start/status/stop
#   sudo systemctl start {{ beamline_name }}_phoebus_alarm_logger.service
#   sudo systemctl status {{ beamline_name }}_phoebus_alarm_logger.service
#   sudo systemctl stop {{ beamline_name }}_phoebus_alarm_logger.service
#
# Start when computer boots:
#   sudo systemctl enable {{ beamline_name }}_phoebus_alarm_logger.service
#

[Unit]
Description=alarm service
Documentation=https://github.com/shroffk/phoebus/tree/master/services/alarm-logger
Wants=network-online.target
After={{ beamline_name }}_kafka.service {{beamline_name}}_phoebus_alarm.service
Requires={{ beamline_name }}_kafka.service {{beamline_name}}_phoebus_alarm.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME={{ java_home }}
Environment=PATH={{ java_home }}/bin:/usr/bin:/usr/local/bin
Environment=SERVER=/opt/epics-tools/services/{{beamline_name}}/phoebus_alarm/alarm_logger
Environment=PORT={{ phoebus_alarm_logger_procServ_port }}

Environment=KAFKA_SERVER={{ kafka_server }}:{{ kafka_port }}
Environment=ES_HOST={{ es_host }}
Environment=ES_PORT={{ es_port }}
Environment=CONFIG={{ alarm_config }}

ExecStart=/usr/bin/procServ --foreground --noautorestart --name alarm-logger --chdir ${SERVER} --logfile ${SERVER}/console.log --pidfile ${SERVER}/phoebus-alarm-logger.pid ${PORT} ./run-phoebus-alarm-logger.sh -bootstrap.servers ${KAFKA_SERVER} -topics ${CONFIG} -es_host ${ES_HOST} -es_port ${ES_PORT}

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
