# File /etc/systemd/system/{{beamline_name}}_phoebus_olog.service
#
# After changes
#   sudo systemctl daemon-reload
#
# Start/status/stop
#   sudo systemctl start {{ beamline_name }}_phoebus_olog.service
#   sudo systemctl status {{ beamline_name }}_phoebus_olog.service
#   sudo systemctl stop {{ beamline_name }}_phoebus_olog.service
#
# Start when computer boots:
#   sudo systemctl enable {{ beamline_name }}_phoebus_olog.service
#

[Unit]
Description=phoebus olog service
Documentation=https://olog.readthedocs.io/en/latest/
Wants=network-online.target
After=elasticsearch.service {{ beamline_name }}_mongod.service
Requires=elasticsearch.service {{ beamline_name }}_mongod.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME={{ java_home }}
Environment=PATH={{ java_home }}/bin:/usr/bin:/usr/local/bin
Environment=SERVER=/opt/epics-tools/services/{{beamline_name}}/olog
Environment=PORT={{ olog_procServ_port }}

ExecStart=/usr/bin/procServ --foreground --noautorestart --name phoebus_olog --chdir ${SERVER} --pidfile ${SERVER}/olog.pid --logfile ${SERVER}/console.log ${PORT} ./run-phoebus-olog.sh

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target