<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->
<Server port="{{ aa_shutdown_port }}" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="Catalina">
    <Connector port="{{ aa_instance_http_port }}" protocol="HTTP/1.1"
               URIEncoding="UTF-8"
               connectionTimeout="20000" />
{% if aa_ssl_enabled | bool %}
    <Connector port="{{ aa_instance_ssl_port }}" protocol="org.apache.coyote.http11.Http11NioProtocol"
               URIEncoding="UTF-8"
               connectionTimeout="20000"
               SSLEnabled="true" >
      <SSLHostConfig>
        <Certificate certificateKeystoreFile="{{ aa_ssl_keystore_file }}"
                     certificateKeystorePassword="{{ aa_ssl_keystore_password }}"
                     type="RSA" />
      </SSLHostConfig>
    </Connector>
{% endif %}
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>
      <Host name="localhost" appBase="webapps"
            unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
{% if aa_remote_ip_valve_enabled | bool %}
        <Valve className="org.apache.catalina.valves.RemoteIpValve"
               internalProxies="{{ aa_remote_ip_internal_proxies }}"
               remoteIpHeader="x-forwarded-for"
               remoteIpProxiesHeader="x-forwarded-by"
               protocolHeader="x-forwarded-proto" />
{% endif %}
{% if aa_health_check_enabled | bool %}
        <Valve className="org.apache.catalina.valves.HealthCheckValve" checkContainersAvailable="true"/>
{% endif %}
      </Host>
    </Engine>
  </Service>
</Server>
