# ChannelFinder Configuration
#
# {{ ansible_managed }}
#

################## ChannelFinder Server ####################
server.port={{ cf_https_port }}

# Options support for insecure http
server.http.enable=true
server.http.port={{ cf_http_port }}

server.ssl.key-store-type=PKCS12
server.ssl.key-store=classpath:keystore/newcf.p12
server.ssl.key-store-password=password
server.ssl.key-alias=cf

security.require-ssl=true

server.compression.enabled=true
server.compression.mime-types=application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css
server.compression.min-response-size=1024
server.http2.enabled=true

logging.level.org.springframework.web=INFO

############## Demo Auth ##############
demo_auth.enabled = true

############## Group-->Role Mapping ##############
admin-groups=cf-admins,sys-admins,ADMIN
channel-groups=cf-channels,USER
property-groups=cf-properties,USER
tag-groups=cf-tags,USER

############################### Elastic Network And HTTP ################################
elasticsearch.host_urls=http://{{ es_host }}:{{ es_port }}
elasticsearch.tag.index = cf_tags
elasticsearch.property.index = cf_properties
elasticsearch.channel.index = channelfinder
elasticsearch.query.size = 10000
elasticsearch.create.indices=true

############################## Repository ##################################
repository.chunk.size = 10000

############################## Service Info ################################
channelfinder.version=@project.version@

############################## REST Logging ################################
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=INFO

################ Processor #################################################
processors.chunking.size=10000

############################## Metrics ##############################
management.endpoints.web.exposure.include=prometheus, metrics, health, info
