# Phoebus Olog Configuration
#
# {{ ansible_managed }}
#
olog.version=@project.version@

# the server port for the rest service
server.port: {{ olog_https_port }}

# Options support for insecure http
server.http.enable=true
server.http.port={{ olog_http_port }}

# send the error messages along with the error code
server.error.include-message={{ 'always' if (olog_include_error_message | default(false) | bool) else 'never' }}

# suppress the logging from spring boot
# during debugging this should be set to DEBUG
logging.level.root=INFO
logging.level.org.springframework=INFO
logging.level.org.apache.catalina=INFO
logging.level.org.apache.kafka=INFO
logging.level.org.springframework.web=INFO
logging.level.org.springframework.security=INFO
logging.level.org.springframework.messaging=INFO
logging.level.org.springframework.web.socket=INFO

spring.main.allow-bean-definition-overriding=true

############## SSL - Configuration ##############
server.ssl.key-store-type={{ olog_ssl_keystore_type }}
server.ssl.key-store={{ olog_ssl_keystore }}
server.ssl.key-store-password={{ olog_ssl_keystore_password }}
server.ssl.key-alias={{ olog_ssl_key_alias }}

security.require-ssl=true

############## Authorization Role --> group Mapping ##############
# Customize group names here
admin-groups=olog-admins,sys-admins,ADMIN
log-groups=olog-logs,USER
tag-groups=olog-tags,USER
property-groups=olog-properties,USER
logbook-groups=olog-logbooks,USER

############################## Elastic Search ###############################

elasticsearch.network.host: {{ es_host }}

# Set a custom port to listen for HTTP traffic:
elasticsearch.http.port: {{ es_port }}

# Set the name of the elastic cluster
elasticsearch.cluster.name: {{ elastic_cluster_name }}

# Create the Olog indices if they do not exist
elasticsearch.create.indices: true

# The names of the index to use for olog
elasticsearch.tag.index: olog_tags

elasticsearch.logbook.index: olog_logbooks

elasticsearch.property.index: olog_properties

elasticsearch.log.index: olog_logs

elasticsearch.sequence.index: olog_sequence

elasticsearch.template.index: olog_templates

elasticsearch.level.index: olog_levels

# Archive modified log entries
elasticsearch.log.archive.index: olog_archived_logs

############################## Mongo gridfs client ###############################

mongo.database:ologAttachments
mongo.host:{{ mongod_host }}
mongo.port:{{ mongod_port }}

############################## Spring Session repository configuration ##############################

# Sets the maximum inactive interval, MUST be in minutes. Defaults to 30 if not set here.
# spring.session.timeout=30

############################## CORS settings ##############################
# Comma separated list of origins allowed to do CORS requests.
cors.allowed.origins={{ cors_allowed_origins }}

################## File upload and request size limits ####################
spring.servlet.multipart.max-file-size=15MB
spring.servlet.multipart.max-request-size=50MB

################## List of "levels" ##################
levels=Urgent,Suggestion,Info,Request,Problem

########### Elasticsearch "result set" sizes ##########
elasticsearch.result.size.logbooks=100
elasticsearch.result.size.tags=100
elasticsearch.result.size.properties=100
elasticsearch.result.size.levels=100
# Default log entry search size if client does not set "limit" request parameter
elasticsearch.result.size.search.default=100
# Max log entry search size
elasticsearch.result.size.search.max=1000

# Default markup scheme.
defaultMarkup=commonmark

# Timeout in milliseconds for PropertyProviders.
propertyProvidersTimeout=2000

# Mapping of static resources.
spring.mvc.static-path-pattern=/Olog/**

########### Elasticsearch Default Logbooks, Tags, and Properties ##########
default.logbook.url=
default.tags.url=
default.properties.url=
default.levels.url=

########### OpenAPI / Swagger #############
springdoc.api-docs.path=${API_PATH:/v3/api-docs}
springdoc.swagger-ui.path=${SWAGGER_PATH:/swagger-ui}
springdoc.swagger-ui.disable-swagger-default-url=true
springdoc.swagger-ui.displayOperationId=true
springdoc.api-docs.version=OPENAPI_3_1

########### Authentication providers #############
# Comma separated list: activeDirectory, ldap, embeddedLdap, inMemory
authenticationProviders={{ olog_auth_providers | default('activeDirectory') }}

# Resources for the authentication providers that need it
embeddedLdapPropertySource=classpath:/security/embedded_ldap.properties
ldapPropertySource=file:ldap.properties
activeDirectoryPropertySource=file:active_directory.properties

########### Spring Boot Actuator Configuration #############
management.endpoints.web.exposure.include=health,info,metrics,loggers,env
management.info.env.enabled=true
