# /etc/systemd/system/{{ beamline_name }}-zookeeper.service
#
# Start/status/stop
#   sudo systemctl start {{ beamline_name }}-zookeeper.service
#   sudo systemctl status {{ beamline_name }}-zookeeper.service
#   sudo systemctl stop {{ beamline_name }}-zookeeper.service
#
# Start when computer boots:
#   sudo systemctl enable {{ beamline_name }}-zookeeper.service
#
# When running, it should listen on localhost:{{ zookeeper_port }}
#   netstat -an | fgrep {{ zookeeper_port }}
# 

[Unit]
Description={{ beamline_name }} Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME=/opt/epics-tools/lib/jvm/jdk-11
Environment=PATH=/opt/epics-tools/lib/jvm/jdk-11/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart=/opt/epics-tools/services/{{ beamline_name }}/kafka/bin/zookeeper-server-start.sh /opt/epics-tools/services/{{ beamline_name }}/kafka/config/zookeeper.properties
ExecStop=/opt/epics-tools/services/{{ beamline_name }}/kafka/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target
