spring:
  application:
    name: semantic
  elasticsearch:
    uris: http://{{ es_host }}:{{ es_port }}
  ai:
    ollama:
      base-url: {{ ollama_base_url | default('http://' + ollama_host + ':' + (ollama_port | string)) }}
      chat:
        options:
          model: {{ springai_ollama_model }}
          keep-alive: 30m
          temperature: 0.2
    model:
      embedding: transformers
    embedding:
      transformer:
        onnx:
          modelUri: classpath:onnx-output/model.onnx
          modelOutputName: token_embeddings
        tokenizer:
          uri: classpath:onnx-output/tokenizer.json
          options:
            padding: true
    vectorstore:
      elasticsearch:
        index-name: {{ springai_vector_index }}
        initialize-schema: true
        dimensions: 768
        embedding-field-name: embedding
        similarity: cosine

server:
  port: {{ springai_olog_port }}
