# Logging data
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/{{ mongod_name }}.log

# Where and how to store data
storage:
  dbPath: {{ mongod_data_path }}
  journal:
    enabled: true
  engine: "wiredTiger"

# how the process runs
processManagement:
  fork: true
  pidFilePath: {{ mongod_home }}/mongod.pid
  timeZoneInfo: /usr/share/zoneinfo

# network interfaces
net:
  port: {{ mongod_port }}
{% if bind_ip_all %}
  bindIpAll: true
{% else %}
  bindIp: {{ bind_ip }}
{% endif %}

{% if replicaset %}
replication:
  replSetName: rs{{ mongod_name }}
{% endif %}
