[Unit]
Description={{beamline_name}} Archiver Appliance {{ aa_instance_name | upper }} Server
After=syslog.target network.target{% if aa_data_mount_name %} {{ aa_data_mount_name }}{% endif %}

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking
PIDFile={{ aa_deploy_location }}/{{ aa_instance_name }}/pid

User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME="{{ aa_java_home }}"
Environment=CATALINA_PID="{{ aa_deploy_location }}/{{ aa_instance_name }}/pid"

ExecStart={{ aa_deploy_location}}/{{ beamline_name }}_{{ aa_instance_name }}_startup.sh start
ExecStop={{ aa_deploy_location }}/{{ beamline_name }}_{{ aa_instance_name }}_startup.sh stop
TimeoutStartSec=180
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
