# ======================== Elasticsearch Configuration =========================
#
# Managed by Ansible - local changes will be overwritten
#

# ---------------------------------- Cluster -----------------------------------
cluster.name: {{ elastic_cluster_name }}

# ----------------------------------- Paths ------------------------------------
path.data: {{ elastic_data }}
path.logs: {{ elastic_logs }}

# ---------------------------------- Network -----------------------------------
http.port: {{ elastic_port }}

# --------------------------------- Security -----------------------------------
xpack.security.enabled: false
xpack.security.transport.ssl.enabled: false
xpack.security.http.ssl.enabled: false
