# File /etc/systemd/system/phoebus_server.service
#
# After changes
#   sudo systemctl daemon-reload
#
# Start/status/stop
#   sudo systemctl start phoebus_server.service
#   sudo systemctl status phoebus_server.service
#   sudo systemctl stop phoebus_server.service
#
# Start when computer boots:
#   sudo systemctl enable phoebus_server.service
#

[Unit]
Description=alarm service
Documentation=https://github.com/shroffk/phoebus/tree/master/services/alarm-server
Wants=network-online.target
After=kafka.service
Requires=kafka.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME={{ java_home }}
Environment=PATH={{ java_home }}/bin:/usr/bin:/usr/local/bin
Environment=SERVER={{ phoebus_alarm_install_dir }}/alarm_server
Environment=PORT={{ phoebus_alarm_server_procServ_port }}

Environment=SETTINGS={{ phoebus_alarm_install_dir }}/phoebus_alarm_preferences.ini

ExecStart={{ procserv_path | default('/usr/bin/procServ') }} --foreground --noautorestart --name alarm-server --chdir ${SERVER} --logfile ${SERVER}/console.log --pidfile ${SERVER}/phoebus-alarm.pid ${PORT} ./run-phoebus-alarm.sh -settings ${SETTINGS}

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
