[Unit]
Description=Tomcat
After=syslog.target network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking

User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME="{{ java_home }}"
Environment='JAVA_OPTS=-Djava.awt.headless=true'

Environment=CATALINA_HOME="{{ tomcat_dest }}"
Environment=CATALINA_BASE="{{ tomcat_dest }}"
Environment=CATALINA_PID="{{ tomcat_dest }}/temp/tomcat.pid"

ExecStart="{{ tomcat_dest }}/bin/startup.sh"
ExecStop="{{ tomcat_dest }}/bin/shutdown.sh"

[Install]
WantedBy=multi-user.target
