# File /etc/systemd/system/phoebus_alarm_config_logger.service
#
# After changes
#   sudo systemctl daemon-reload
#
# Start/status/stop
#   sudo systemctl start phoebus_alarm_config_logger.service
#   sudo systemctl status phoebus_alarm_config_logger.service
#   sudo systemctl stop phoebus_alarm_config_logger.service
#
# Start when computer boots:
#   sudo systemctl enable phoebus_alarm_config_logger.service
#

[Unit]
Description=alarm service
Documentation=https://github.com/shroffk/phoebus/tree/master/services/alarm-logger
Wants=network-online.target
After=kafka.service phoebus_alarm.service
Requires=kafka.service phoebus_alarm.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME={{ java_home }}
Environment=PATH={{ java_home }}/bin:/usr/bin:/usr/local/bin
Environment=SERVER={{ phoebus_alarm_install_dir }}/alarm_config_logger
Environment=PORT={{ phoebus_alarm_config_logger_procServ_port }}

Environment=KAFKA_SERVER={{ kafka_server }}:{{ kafka_port }}
Environment=CONFIG={{ alarm_config }}
Environment=REPO_LOCATION={{ phoebus_alarm_config_local_repo }}

Environment=SETTINGS={{ phoebus_alarm_install_dir }}/phoebus_alarm_preferences.ini

ExecStart=/usr/bin/procServ --foreground --noautorestart --name alarm-config-logger --chdir ${SERVER} --logfile ${SERVER}/console.log --pidfile ${SERVER}/phoebus-alarm-config-logger.pid ${PORT} ./run-phoebus-alarm-config-logger.sh -bootstrap.servers ${KAFKA_SERVER} -topics ${CONFIG} -repo.location ${REPO_LOCATION}

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
