[Unit]
Description={{beamline_name}} Archiver Appliance Server
After=syslog.target network.target{% if aa_data_mount_name %} {{ aa_data_mount_name }}{% endif %}

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking

User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME="{{ aa_java_home }}"

ExecStart={{ aa_deploy_location}}/{{ beamline_name }}_startup.sh start
ExecStop={{ aa_deploy_location }}/{{ beamline_name}}_startup.sh stop
TimeoutSec=180

[Install]
WantedBy=multi-user.target
