[Unit]
Description=Shift GlassFish Server
After=syslog.target network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking

#User={{ epics_services_account }}
#Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME={{ java_home }}
Environment=AS_JAVA={{ java_home }}
Environment=PATH={{ java_home }}/bin:/usr/bin:/usr/local/bin

ExecStart={{ shift_install_dir }}/glassfish5/bin/asadmin start-domain domain1
ExecStop={{ shift_install_dir }}/glassfish5/bin/asadmin stop-domain domain1
TimeoutSec=180

[Install]
WantedBy=multi-user.target
